* {
  font-family: "Raleway", sans-serif;
}
.container {
  width: 1160px;
  margin: 0 auto;
}
figure {
  width: 150px;
  height: 150px;
}
address div {
  width: 30%;
}
.linkmail {
  order: 2;
  text-align: center;
}
.linktel {
  order: 3;
  text-align: end;
}
.linkadress {
  order: 1;
}
.contenu {
  display: flex;
}
.red {
  width: 25%;
  background-color: #782221;
  padding-right: 30px;
  padding-top: 10px;}
.red p {
  padding-left: 20px;
  color: #fff;
}
.red ul {
  color: #fff;
}
.red h3 {
  background-color: #dbc2a4;
  padding: 5px;
  padding-left: 20px;
}
.white {
  width: 75%;
  border-right: #000;
  margin-left: 40px;
  border-right: 2px solid #000;
}
.white h3 {
  background-color: #dbc2a4;
  padding: 5px;
  margin-top: 30px;
  margin-right: 20px;
  border-left: 7px  solid #782221;
}
footer img {
  width: 30px;
  height: 30px;
}
